.Header {
    background-color: ffffff;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header a {
    text-decoration: none;
    color: rgb(3, 155, 104);
}

.NavLinks {
    list-style: none;
    display: flex;
    flex-direction: column;
}


.NavLinks li {
    margin-right: 20px;
}

.logoImg {
    padding: 10px;
    height: 25%;
    width: 25%;
    /* TODO: round, responsive */
}